html {
  background-image: url("images/nebula.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
}
#calc {
  border: 5px rgb(104, 104, 104) solid;
  width: 300px;
  border-radius: 5px;
  margin-left: 20px;
  margin-top: 20px;
}

#display {
  width: 300px;
  height: 150px;
  margin: auto;
  position: relative;
  background: black;
}

#dis-down {
  position: absolute;
  bottom: 0;
  width: 90%;
  height: 60px;
  font-size: 30px;
  text-align: right;
  right: 14px;
  color: white;
}

#dis-up {
  position: absolute;
  top: 0;
  width: 90%;
  font-size: 15px;
  height: 30px;
  text-align: right;
  right: 14px;
  color: rgb(50, 197, 50);
}

button {
  width: 75px;
  height: 75px;
  background: rgb(56, 194, 56);
  border: 1px solid black;
  color: black;
}

button:active {
background:  rgb(29, 102, 29);
}

button:focus { 
  outline: none;
}

#clear {
  width: 150px;
}

#zero {
  width: 150px;
}

#equals {
  height: 150px;
  float: right;
}


